# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
.vscode

# Temp
gitignore
test_results

# System Files
.DS_Store
Thumbs.db

# Nextflow
work
.nextflow*

# viash
/target/
/resources_test/

# jupyter notebook
/.ipynb_checkpoints/
*.ipynb

# compress
/__MACOSX/