name: "nichecompass_leiden"
namespace: "workflows/niche"
scope: "public"
description: "A pipeline to compute the spatial neighborhood graph, perform nichecompass embedding followed by Leiden clustering."
authors:
  - __merge__: /src/authors/dorien_roosen.yaml
    roles: [ author, maintainer ]
  - __merge__: /src/authors/weiwei_schultz.yaml
    roles: [ contributor ]
info:
  test_dependencies:
    - name: nichecompass_leiden_test
      namespace: test_workflows/niche
argument_groups:
  - name: Inputs
    arguments:
      - name: "--id"
        required: true
        type: string
        description: ID of the sample.
        example: foo
      - name: "--input"
        alternatives: [-i]
        description: Path to the sample.
        required: true
        example: input.h5mu
        type: file
      - name: "--input_gp_mask"
        type: file
        required: true
        description: |
          JSON file containing a nested dictionary containing the gene programs,
          with keys being gene program names and values being dictionaries with keys `targets` and `sources`,
          where `targets` contains a list of the names of genes in the gene program for the reconstruction of the gene expression of the node itself (receiving node)
          and `sources` contains a list of the names of genes in the gene program for the reconstruction of the gene expression of the node's neighbors (transmitting nodes).
        example: prior_knowledge_gp_mask.json
      - name: "--modality"
        description: Which modality to process.
        type: string
        default: "rna"
        required: false
      - name: "--layer"
        description: "Use specified layer for calculation of qc metrics. If not specified, adata.X is used."
        type: string
        example: "raw_counts"
        required: false
      - name: "--input_obs_covariates"
        type: string
        multiple: true
        default: ["sample_id"]
        description: "Keys of the adata.obs fields to use as covariates."
      - name: "--input_obsm_spatial_coords"
        type: string
        default: "spatial"
        description: "Key in adata.obsm where spatial coordinates are stored"

  - name: "Sample ID options"
    description: |
      Options for adding the id to .obs on the MuData object. Having a sample 
      id present in a requirement of several components for this pipeline.
    arguments:
      - name: "--include_sample_as_covariate"
        description: |
          Whether to include the sample information as a categorical covariate for the 
          NicheCompass model.
        type: boolean
        default: true
      - name: "--add_id_to_obs"
        description: "Add the value passed with --id to .obs."
        type: boolean
        default: true
      - name: --add_id_obs_output
        description: |
          .Obs column to add the sample IDs to. Required and only used when 
          --add_id_to_obs is set to 'true'
        type: string
        default: "sample_id"
      - name: "--add_id_make_observation_keys_unique"
        type: boolean
        description: |
          Join the id to the .obs index (.obs_names). 
          Only used when --add_id_to_obs is set to 'true'.
        default: true

  - name: "Spatial Neighbors Calculation"
    description: |
      Options for the calculation of the spatial neighborhood graph.
    arguments:
      - name: "--coord_type"
        type: string
        choices: ["generic", "grid"]
        description: |
          Type of coordinate system provided by `--input_obsm_spatial_coords`. Valid options are:
          `grid` - grid coordinates.
          `generic` - generic coordinates.
          If not provided, `grid` is used if `--input_obsm_spatial_coords` is in --input .uns with `--n_neighs` = 6 (Visium), otherwise `generic` is used.
      - name: "--n_spatial_neighbors"
        type: integer
        default: 6
        description: |
          Depending on `--coord_type`:
          `grid` - number of neighboring tiles.
          `generic` - number of neighborhoods for non-grid data. Only used when `--delaunay False`.
      - name: "--delaunay"
        type: boolean
        default: false
        description: |
          Whether to use Delaunay triangulation to determine spatial neighborhood graph.
          Only used when `--coord_type generic`.
  
  - name: Gene Program Mask 
    description: Options for filtering gene programs based on the number of genes available in the data.
    arguments:
      - name: "--min_genes_per_gp"
        type: integer
        default: 1
        min: 0
        description: |
          Minimum number of genes in a gene program inluding both target and source genes that need to be available in the input data (gene expression has been probed) for a gene program not to be discarded.
      - name: "--min_source_genes_per_gp"
        type: integer
        default: 0
        min: 0
        description: |
          Minimum number of source genes in a gene program that need to be available in the input data (gene expression has been probed) for a gene program not to be discarded.
      - name: "--min_target_genes_per_gp"
        type: integer
        default: 0
        min: 0
        description: |
          Minimum number of target genes in a gene program that need to be available in the input data (gene expression has been probed) for a gene program not to be discarded.
      - name: "--max_genes_per_gp"
        type: integer
        min: 1
        description: |
          Maximum number of genes in a gene program inluding both target and source genes that can be available in the input data (gene expression has been probed) for a gene program not to be discarded.
      - name: "--max_source_genes_per_gp"
        type: integer
        min: 1
        description: |
          Maximum number of source genes in a gene program that can be available in the input data (gene expression has been probed) for a gene program not to be discarded.
      - name: "--max_target_genes_per_gp"
        type: integer
        min: 1
        description: |
          Maximum number of target genes in a gene program that can be available in the input data (gene expression has been probed) for a gene program not to be discarded.
      - name: "--filter_genes_not_in_masks"
        type: boolean_true
        description: |
          Whether to remove the genes that are not in the gp masks from the input data.

  - name: NicheCompass Model Architecture
    description: Options for the NicheCompass model architecture.
    arguments:
      - name: "--covariate_edges"
        type: boolean
        multiple: true
        description: |
          List of booleans that indicate whether there can be edges between different categories of the categorical covariates.
          If this is `True` for a specific categorical covariate, this covariate will be excluded from the edge reconstruction loss.
          Needs to match the length and order of `--input_obs_covariates`.
      - name: "--gene_expr_recon_dist"
        type: string
        choices: ["nb", "zinb"]
        default: "nb"
        description: |
          The distribution used for gene expression reconstruction. 
          If `nb`, uses a negative binomial distribution. 
          If `zinb`, uses a zero-inflated negative binomial distribution.
      - name: "--log_variational"
        type: boolean
        default: true
        description: |
          Whether to transform x by log(x+1) prior to encoding for numerical stability (not for normalization).
      - name: "--node_label_method"
        type: string
        choices: ["one-hop-norm", "two-hop-norm", "one-hop-attention"]
        default: "one-hop-norm"
        description: |
          Node label method that will be used for omics reconstruction.
          If `one-hop-sum`, uses a concatenation of the node's input features with the sum of the input features of all nodes in the node's one-hop neighborhood.
          If `one-hop-norm`, uses a concatenation of the node's input features with the node's one-hop neighbors input features normalized as per Kipf, T. N. & Welling, M. Semi-Supervised Classification with Graph Convolutional Networks. arXiv [cs.LG] (2016).
          If `one-hop-attention`, uses a concatenation of the node's input features with the node's one-hop neighbors input features weighted by an attention mechanism.
      - name: "--active_gp_thresh_ratio"
        type: double
        default: 0.1
        min: 0.0
        max: 1.0
        description: |
          Ratio that determines which gene programs are considered active and are used in the latent representation after model training.
          All inactive gene programs will be dropped during model training after a determined number of epochs.
          Aggregations of the absolute values of the gene weights of the gene expression decoder per gene program are calculated.
          The maximum value, i.e. the value of the gene program with the highest aggregated value will be used as a benchmark and all gene programs whose aggregated value is smaller than `--active_gp_thresh_ratio` times this maximum value will be set to inactive.
          If set to 0, all gene programs will be considered active.
      - name: "--active_gp_type"
        type: string
        choices: ["mixed", "separate"]
        default: "separate"
        description: |
          Type to determine active gene programs. 
          Can be `mixed`, in which case active gene programs are determined across prior and add-on gene programs jointly,
          or `separate` in which case they are determined separately for prior and add-on gene programs.
      - name: "--n_addon_gp"
        type: integer
        default: 100
        min: 0
        description: |
          Number of addon gene programs (i.e. gene programs that are not included in masks but can be learned de novo).
      - name: "--cat_covariates_embeds_nums"
        type: integer
        multiple: true
        description: |
          Number of embedding nodes for all categorical covariates.
          Must be the same length as `--input_obs_covariates`.
      - name: "--random_state"
        default: 0
        type: integer
        min: 0
        description: |
          Random seed for reproducibility.

  - name: NicheCompass Training Parameters
    description: Options for training the NicheCompass model.
    arguments:
      - name: "--n_epochs"
        type: integer
        min: 1
        default: 100
        description: Number of training epochs
      - name: "--n_epochs_all_gps"
        type: integer
        min: 0
        default: 25
        description: |
          Number of epochs during which all gene programs are used for model training.
          After that only active gene programs are retained.
      - name: "--n_epochs_no_edge_recon"
        type: integer
        default: 0
        min: 0
        description: |
          Number of epochs during which the edge reconstruction loss is excluded from backpropagation for pretraining using the other loss components.
      - name: "--n_epochs_no_cat_covariates_contrastive"
        type: integer
        default: 5
        min: 0
        description: |
          Number of epochs during which the categorical covariates contrastive loss is excluded from backpropagation for pretraining using the other loss components.
      - name: "--lr"
        type: double
        default: 0.001
        min: 0.0
        max: 1.0
        description: Learning rate
      - name: "--weight_decay"
        type: double
        default: 0.001
        description: Weight decay (L2 penalty).
      - name: "--edge_val_ratio"
        type: double
        default: 0.1
        min: 0.0
        max: 1.0
        description: |
          Fraction of the data that is used as validation set on edge-level. The rest of the data will be used as training set on edge-level.
      - name: "--node_val_ratio"
        type: double
        default: 0.1
        min: 0.0
        max: 1.0
        description: |
          Fraction of the data that is used as validation set on node-level. The rest of the data will be used as training set on node-level.
      - name: "--edge_batch_size"
        type: integer
        min: 1
        default: 256
        description: |
          Batch size for the edge-level dataloaders.
      - name: "--node_batch_size"
        type: integer
        min: 1
        description: |
          Batch size for the node-level dataloaders.
          If not provided, is automatically determined based on `--edge_batch_size`.
      - name: "--n_sampled_neighbors"
        type: integer
        default: -1
        min: -1
        description: |
          Number of neighbors that are sampled during model training from the spatial neighborhood graph.
          If set to -1, all direct neighbors are included.

  - name: Clustering options
    arguments:
      - name: "--obs_cluster"
        type: string
        description: |
          Prefix for the .obs keys under which to add the cluster labels. Newly created columns in .obs will 
          be created from the specified value for '--obs_cluster' suffixed with an underscore and one of the resolutions
          resolutions specified in '--leiden_resolution'.
        default: "nichecompass_leiden"
      - name: "--leiden_resolution"
        type: double
        description: Control the coarseness of the clustering. Higher values lead to more clusters.
        default: [1]
        multiple: true

  - name: Umap options
    arguments:
      - name: "--obsm_umap"
        type: string
        default: "X_leiden_nichecompass_umap"
        required: false
        description: "In which .obsm slot to store the resulting UMAP embedding."

  - name: Neighbour calculation
    arguments:
      - name: "--uns_neighbors"
        type: string
        default: nichecompass_neighbors
        description: In which .uns slot to store various neighbor output objects.
      - name: "--obsp_neighbor_distances"
        type: string
        default: "nichecompass_distances"
        description: "In which .obsp slot to store the distance matrix between the resulting neighbors."
      - name: "--obsp_neighbor_connectivities"
        type: string
        default: "nichecompass_connectivities"
        description: "In which .obsp slot to store the connectivities matrix between the resulting neighbors."

  - name: "Outputs"
    arguments:
      - name: "--output"
        type: file
        required: true
        direction: output
        description: Destination path to the output.
        example: output.h5mu
      - name: "--output_model"
        type: file
        required: true
        direction: output
        description: Directory to save the trained NicheCompass model.
      - name: "--output_obsm_embedding"
        type: string
        default: nichecompass_latent
        description: |
          Key of the obsm field where the latent / gene program representation of active gene programs will be stored after NicheCompass model training.

dependencies:
  - name: dataflow/obsp_block_concatenation
  - name: neighbors/spatial_neighborhood_graph
  - name: nichecompass/nichecompass
  - name: metadata/add_id
    repository: openpipeline
  - name: workflows/multiomics/neighbors_leiden_umap
    repository: openpipeline

resources:
  - type: nextflow_script
    path: main.nf
    entrypoint: run_wf
test_resources:
  - type: nextflow_script
    path: test.nf
    entrypoint: test_wf
  - path: /resources_test/xenium/xenium_tiny.h5mu
  - path: /resources_test/cosmx/Lung5_Rep2_tiny.h5mu
  - path: /resources_test/niche/prior_knowledge_gp_mask.json
runners:
  - type: nextflow
