name: gene_program_mask
namespace: nichecompass
scope: public
description: Generation of a prior knowledge gene program mask for NicheCompass.

authors:
  - __merge__: /src/authors/dorien_roosen.yaml
    roles: [ maintainer ]
  - __merge__: /src/authors/jakub_majercik.yaml
    roles: [ maintainer ]
  - __merge__: /src/authors/weiwei_schultz.yaml
    roles: [ contributor ]
argument_groups:
  - name: Inputs
    arguments: 
      - name: "--input_gene_orthologs_mapping_file"
        type: file
        required: false
        description: |
          Path to a CSV file mapping human genes to mouse orthologs.
          Required for the OmniPath and NicheNet masks if `--species mouse`.
      - name: "--input_metabolite_enzymes"
        type: file
        required: false
        description: |
          Path to the MeBocost metabolite-enzymes TSV file.
          Required for generating the MeBocost gene program mask.
      - name: "--input_metabolite_sensors"
        type: file
        required: false
        description: |
          Path to the MeBocost metabolite-sensors TSV file.
          Required for generating the MeBocost gene program mask.
      - name: "--input_omnipath_lr_network"
        type: file
        required: false
        description: |
          Path to the OmniPath ligand-receptor network CSV file.
          If provided, the network will be loaded from this file instead of querying the OmniPath API.
          Cannot be used together with `--output_omnipath_lr_network`.
      - name: "--input_nichenet_ligand_target_matrix"
        type: file
        required: false
        description: |
          Path to the NicheNet ligand-target gene regulatory potential matrix file.
          If provided, the matrix will be loaded from this file instead of querying the NicheNet API.
          Cannot be used together with `--output_nichenet_ligand_target_matrix`.
        example: nichenet_ligand_target_matrix.csv
      - name: "--input_nichenet_lrt_network"
        type: file
        required: false
        description: |
          Path to the NicheNet ligand-receptor network CSV file.
          If provided, the network will be loaded from this file instead of querying the NicheNet API.
          Cannot be used together with `--output_nichenet_lrt_network`.
      - name: "--input_collectri_tf_network"
        type: file
        required: false
        description: |
          Path to the CollecTRI TF-target gene regulatory network CSV file.
          If provided, the network will be loaded from this file instead of querying the decoupler API.
          Cannot be used together with `--output_collectri_tf_network`.

  - name: Parameters
    arguments:
      - name: "--species"
        type: string
        choices: ["human", "mouse"]
        default: "human"
        description: Species of the organism (human or mouse).
      - name: "--create_omnipath_gene_program_mask"
        type: boolean
        default: true
        description: Whether to create the OmniPath gene program mask.
      - name: "--create_nichenet_gene_program_mask"
        type: boolean
        default: true
        description: Whether to create the NicheNet gene program mask.
      - name: "--create_mebocost_gene_program_mask"
        type: boolean
        default: true
        description: Whether to create the MeBocost gene program mask.
      - name: "--create_collectri_tf_gene_program_mask"
        type: boolean
        default: true
        description: Whether to create the CollecTRI TF gene program mask.
      - name: "--overlap_thresh_target_genes"
        type: double
        default: 1.0
        min: 0.0
        max: 1.0
        description: |
          The minimum ratio of target genes that need to overlap between a GP without source genes and another GP for the GP to be dropped.
          Gene programs with different source genes are never combined or dropped.

  - name: Omnipath Parameters
    arguments:
      - name: "--omnipath_min_curation_effort"
        type: integer
        default: 2
        description: Minimum number of times an interaction has to be described in a paper and mentioned in a database to be included in the OmniPath gene programs.
  
  - name: NicheNet Parameters
    arguments:
      - name: "--nichenet_version"
        type: string
        choices: ["v1", "v2"]
        default: "v2"
        description: |
          Version of the NicheNet ligand receptor network and ligand target gene regulatory potential matrix.
          `v2` is an improved version of `v1`, and has separate files for mouse and human.
      - name: "--nichenet_keep_target_genes_ratio"
        type: double
        default: 1.0
        description: |
          Ratio of target genes that are kept compared to total target genes.
          This ratio is applied over the entire matrix (not on gene program level), and determines the `all_gps_score_keep_threshold`, which will be used to filter target genes according to their regulatory potential scores.
      - name: "--nichenet_max_n_target_genes_per_gp"
        type: integer
        default: 250
        description: |
          Maximum number of target genes per gene program. If a gene program has more target genes than `max_n_target_genes_per_gp`, only the `max_n_target_genes_per_gp` gene programs with the highest regulatory potential scores will be kept.
          Default value is chosen based on MultiNicheNet specification (s. Browaeys, R. et al. MultiNicheNet: a flexible framework for differential cell-cell communication analysis from multi-sample multi-condition single-cell transcriptomics data. bioRxiv (2023) doi:10.1101/2023.06.13.544751).

  - name: Outputs
    arguments:
      - name: "--output"
        type: file
        direction: output
        required: true
        description: Path to the output gene program mask JSON file.
        example: gp_mask.json
      - name: "--output_omnipath_lr_network"
        type: file
        direction: output
        required: false
        description: Path to the output OmniPath ligand-receptor network CSV file.
        example: omnipath_lr_network.csv
      - name: "--output_nichenet_lrt_network"
        type: file
        direction: output
        required: false
        description: Path to the output NicheNet ligand-receptor network CSV file.
        example: nichenet_lr_network.csv
      - name: "--output_nichenet_ligand_target_matrix"
        type: file
        direction: output
        required: false
        description: Path to the output NicheNet ligand-target gene regulatory potential matrix file.
        example: nichenet_ligand_target_matrix.csv
      - name: "--output_collectri_tf_network"
        type: file
        direction: output
        required: false
        description: Path to the output CollecTRI TF-target gene regulatory potential network CSV file.
        example: collectri_tf_network.csv
      - name: "--output_omnipath_gp_gene_count_distributions"
        type: file
        direction: output
        required: false
        description: Path to save the OmniPath gene program gene count distributions plot.
        example: omnipath_gp_gene_count_distributions.svg
      - name: "--output_nichenet_gp_gene_count_distributions"
        type: file
        direction: output
        required: false
        description: Path to save the NicheNet gene program gene count distributions plot.
        example: nichenet_gp_gene_count_distributions.svg
      - name: "--output_mebocost_gp_gene_count_distributions"
        type: file
        direction: output
        required: false
        description: Path to save the MeBocost gene program gene count distributions plot.
        example: mebocost_gp_gene_count_distributions.svg
      - name: "--output_collectri_tf_gp_gene_count_distributions"
        type: file
        direction: output
        required: false
        description: Path to save the CollecTRI TF gene program gene count distributions plot.
        example: collectri_tf_gp_gene_count_distributions.svg

resources:
  - type: python_script
    path: script.py
  - path: /src/utils/setup_logger.py

test_resources:
  - type: python_script
    path: test.py
  - path: /resources_test/niche/

engines:
- type: docker
  image: nvidia/cuda:12.4.1-cudnn-devel-ubuntu22.04
  setup:
    - type: apt
      packages:
        - libhdf5-dev
        - python3-pip
        - python3-dev
        - python-is-python3
    - type: docker
      run: |
        pip install torch --index-url https://download.pytorch.org/whl/cu124 \
        && pip install pyg_lib torch-scatter torch-sparse -f https://data.pyg.org/whl/torch-2.6.0+cu124.html   
    - type: python
      packages:
        - numpy<2
        - nichecompass
  test_setup:
    - type: python
      __merge__: [ /src/base/requirements/viashpy.yaml, .]

runners:
- type: executable
- type: nextflow
  directives:
    label: [lowcpu, lowmem, lowdisk]
